/*
 * Copyright (C) 2015 Vipassana São Paulo-Brazil
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.root {
    -fx-font-family: "Tahoma";
    -fx-font-size: 12px;
}
.hall-pane-left{
    -fx-border-color: #333333;
    -fx-border-width: 0 0 0 7;
}

.hall-pane-right{
    -fx-border-color: #333333;
    -fx-border-width: 0 7 0 0;
}

.seat-vbox {
    -fx-spacing: 5;
}

.seat-hbox {
    -fx-spacing: 2;
    -fx-alignment: CENTER_RIGHT;
}
.seat-pane {
    /*-fx-background-image: url("/assets/img/background.jpg");*/
    -fx-text-fill: rgba(0,0,0,0.7);
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-border-color: #333333;
    -fx-border-width: 2px;
}

.student-pane {
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
    -fx-border-color: #333333;
    -fx-border-width: 1;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-spacing: 5;
    -fx-padding: 10;
    /*-fx-background-insets: 6 6 6 6 ;*/
}

.student-pane .label {
    -fx-font-size: 11px;
    /*-fx-opacity: 0.6;*/
}

.seat-position {
    -fx-font-size: 13px;
    /*-fx-fill: #fff;*/
    -fx-font-weight: bold;
}

.seat-pane .old {
    -fx-background-color: #99ff99;
}

.seat-pane .new {
    -fx-background-color: #9999ff;
}

.seat-pane.printmode .old {
    /*-fx-background-color: #cccccc;*/
}

.seat-pane.printmode .new {
    -fx-background-color: white;
}

.seat-pane .fixed {
    -fx-background-color: #ffff99;
}

.seat-pane .left {
    -fx-background-color: #ff9999;
}

.seat-pane .blocked {
    -fx-background-color: #cccccc;
}

.saved-dialog {
    -fx-padding: 20;
    -fx-spacing: 20;

}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.tool-bar .button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.tool-bar .button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.toggle-button{
    -fx-padding: 5;
    -fx-spacing: 20;
}

.clear-button, .delete-button {
    /*-fx-base: #b6e7c9;*/
    -fx-padding: 5;
    -fx-spacing: 20;
}

.first-name-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
/**Stats **/

.stats-pane {
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-alignment: BASELINE_LEFT;
    -fx-border-color: #333333;
    -fx-border-width: 1;
}

.about-box {
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-spacing: 5;
    -fx-padding: 5;
}

.seat-combo-box {
    /*-fx-pref-width: 60;*/
}